<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShopEase - Tienda</title>
  <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
<header>
  <div class="logo">ShopEase</div>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Reseñas</a></li>
      <li><a href="#">Categorias</a></li>
    </ul>
  </nav>
</header>


<section class="carousel">
  <div class="carousel-container">
      <img src="https://f.fcdn.app/imgs/94a46d/www.hering.com.uy/her/bb58/original/recursos/610/1920x0/outletmesa-de-trabajo-1-copia-10.jpg" class="carousel-image active" alt="Banner 1">
  </div>
</section>


<section class="categories">
  <button>Todo</button>
  <button>Camisas</button>
  <button>Accesorios</button>
  <button>Sacos</button>
  <button>Pantalones</button>
</section>

<section class="product-grid">
  <div class="product">
    <img src="https://category-public.canva.com/contextualThumbnails/tshirt@2x.png" alt="Camisa Verde">
    <h3>Camisa Verde</h3>
    <p>$25.00</p>
  </div>
  <div class="product">
    <img src="https://category-public.canva.com/contextualThumbnails/tshirt@2x.png" alt="Gorra Blanca">
    <h3>Gorra Blanca</h3>
    <p>$15.00</p>
  </div>
  <div class="product">
    <img src="https://category-public.canva.com/contextualThumbnails/tshirt@2x.png" alt="Zapatillas Negras">
    <h3>Zapatillas Negras</h3>
    <p>$50.00</p>
  </div>
  <div class="product">
    <img src="https://category-public.canva.com/contextualThumbnails/tshirt@2x.png" alt="Chaqueta Verde">
    <h3>Chaqueta Verde</h3>
    <p>$40.00</p>
  </div>
</section>
</body>
</html>
